- data.speakers_commit.each do |speaker|
  -if speaker.speakingregions.include?("Brooklyn") && speaker.years.include?(2019)
    .col-md-4
      = partial "includes/events/speaker", locals: {name: speaker.name, title: speaker.title, company: speaker.company, photourl: speaker.photourl}